<div class="upload-container">
  <div class="upload-container__header">
    <h1 class="upload-container__header__title">
      Sustainability Dashboard
    </h1>
  </div>
  <form class="upload-container__form" (ngSubmit)="submitForm()">

    <div class="upload-container__form__section">
      <h2 class="upload-container__form__section__title">Model Source</h2>

      <div class="upload-container__form__section__inputs">
        <app-form-input-text
          [label]="'Enter the name of the HuggingFace model'"
          [placeholder]="'Model name...'"
          [control]="uploadFormGroup.controls.huggingfaceModel"
          [required]="true"
        />

        <div class="or">
          <hr>
          <span>or</span>
        </div>

        <app-form-input-file
          [label]="'Upload a h5 model'"
          [placeholder]="'Select a file'"
          [control]="uploadFormGroup.controls.h5Model"
          [required]="true"
        />

        <div class="error-message" *ngIf="neitherFieldFilledError">
          Please provide either a Hugging Face URL or upload an H5 model.
        </div>

        <div class="error-message" *ngIf="bothFieldsFilledError">
          Please provide either a Hugging Face URL or upload an H5 model, not both.
        </div>
      </div>
    </div>

    <div class="upload-container__form__section">
      <h2 class="upload-container__form__section__title">Validation Dataset</h2>

      <app-form-input-file
        [label]="'Upload validation dataset'"
        [placeholder]="'Select a file'"
        [control]="uploadFormGroup.controls.dataset"
        [required]="true"
      />
    </div>

    <button
      type="submit"
      appButton
      [primary]="true"
      [disabled]="uploadFormGroup.invalid">Show Optimizations
    </button>
  </form>
</div>
